<ul class="sidebar-menu" data-widget="tree">
    <li class="header"></li>

    <li><a href="~/Employee"><i class="fa fa-users"></i> <span> Employee</span></a></li>
    <li><a href="~/Department"><i class="fa fa-building"></i> <span> Department</span></a></li>
</ul>
